<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminUserController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProductController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestUserController</servlet-name>
        <servlet-class>com.fpt.controller.guest.GuestUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestIndexController</servlet-name>
        <servlet-class>com.fpt.controller.guest.GuestIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCategoryController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFeedbackController</servlet-name>
        <servlet-class>com.fpt.controller.admin.AdminFeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestLoginController</servlet-name>
        <servlet-class>com.fpt.controller.guest.GuestLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminUserController</servlet-name>
        <url-pattern>/AdminUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillController</servlet-name>
        <url-pattern>/AdminBillController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProductController</servlet-name>
        <url-pattern>/AdminProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestUserController</servlet-name>
        <url-pattern>/GuestUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestIndexController</servlet-name>
        <url-pattern>/GuestIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCategoryController</servlet-name>
        <url-pattern>/AdminCategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFeedbackController</servlet-name>
        <url-pattern>/AdminFeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestLoginController</servlet-name>
        <url-pattern>/GuestLoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <location>/404.jsp</location>
    </error-page>
</web-app>
