<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="JustBuyPU" transaction-type="RESOURCE_LOCAL">
    <class>com.fpt.model.BillDetail</class>
    <class>com.fpt.model.Category</class>
    <class>com.fpt.model.Feedback</class>
    <class>com.fpt.model.Users</class>
    <class>com.fpt.model.Discount</class>
    <class>com.fpt.model.Product</class>
    <class>com.fpt.model.Image</class>
    <class>com.fpt.model.Bill</class>
    <class>com.fpt.model.Address</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=JustBuyDB"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.password" value="123"/>
    </properties>
  </persistence-unit>
</persistence>
